$primary_color: #ff7700;
$secodary_color: #454545;
$rba: rgba(255,115,0,0.6);
$default_color: #ffffff;
$fontsize: 15px;
$mobile_fontsize: 7px;


@font-face{
    font-family: 'Montserrat_Medium';
    src: url('/public/font/Montserrat-Medium.ttf')
}
@font-face{
  font-family: 'Montserrat_Bold';
  src: url('/public/font/Montserrat-Bold.ttf');
}

$primary_font: 'Montserrat_Medium';
$secondary_font: 'Montserrat_Bold';


@media screen and (min-width:240px) and (max-width:768px) {
  $pixels_qnt : max-width;
  .ativator {
    margin-left: 0%;
  }
  #row {
    width: 100%;    
    margin: 0px;
    padding: 0px;  
  }
  #slide {    
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 50%;
  }
  #container {        
    margin: 0px;    
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    background-color: $secodary_color;
    color: $default_color;
    font-family: $primary_font;
  }
  #credentials{    
    margin: 10px;           
    height: 5rem;     
    padding-bottom: 4rem;        
    font-family: $primary_font;
    text-align: center;    
  }
  #person_logo {
    height: 50px;
    width: 50px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  body {    
    background-color: rgba(255, 119, 0, 0.5);
    background-blend-mode: lighten;
    background-image: url('/public/img/slide2.jpg');
    padding: 0px;
    margin: 0px;  
    color: $default_color;
    font-size: $mobile_fontsize;
  } 
}
@media screen and (min-width:1024px) and (orientation:landscape){
  .ativator {
    margin-left: 0%;
  }
  #row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;  
    margin: 0px;
    padding: 0px;  
  }
  .container {
    padding: 5px;
  }
  #slide {    
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 50%;
  }
  #container {            
    padding: 10px;
    height: 100%;
    width: 97%;    
    background-color: $secodary_color;
    color: $default_color;
    font-family: $primary_font;
  }
  #credentials{         
    width: 100%;           
    padding-top: 100px;
    padding-right: 1rem;        
    font-family: $primary_font;
    font-size: ($fontsize - 2);
    text-align: center;    
  }
  #person_logo {
    height: 100px;
    width: 100px;
  }
  
  body {    
    background-color: rgba(255, 119, 0, 0.5);
    background-blend-mode: lighten;
    background-image: url('/public/img/slide2.jpg');
    padding: 0px;
    margin: 0px;  
    color: $default_color;
    font-size: $fontsize;
  } 
}

@media screen and (min-width:1024px) and (orientation:portrait){
  .ativator {
    margin-left: 0%;
  }
  #row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;  
    margin: 0px;
    padding: 0px;  
  }
  .container {
    padding: 5px;
  }
  #slide {    
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 50%;
  }
  #container {            
    padding: 10px;
    height: 100%;
    width: 97%;    
    background-color: $secodary_color;
    color: $default_color;
    font-family: $primary_font;
  }
  #credentials{         
    width: 100%;           
    padding-top: 100px;
    padding-right: 1rem;        
    font-family: $primary_font;
    font-size: ($fontsize - 2);
    text-align: center;    
  }
  #person_logo {
    height: 100px;
    width: 100px;
  }
  
  body {    
    background-color: rgba(255, 119, 0, 0.5);
    background-blend-mode: lighten;
    background-image: url('/public/img/slide2.jpg');
    padding: 0px;
    margin: 0px;  
    color: $default_color;
    font-size: $fontsize;
  } 
}


