@font-face {
  font-family: 'Montserrat_Medium';
  src: url("/public/font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat_Bold';
  src: url("/public/font/Montserrat-Bold.ttf");
}

@media screen and (min-width: 240px) and (max-width: 768px) {
  /* line 24, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  .ativator {
    margin-left: 0%;
  }
  /* line 27, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #row {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  /* line 32, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #slide {
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 50%;
  }
  /* line 38, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #container {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    width: 100%;
    background-color: #454545;
    color: #ffffff;
    font-family: "Montserrat_Medium";
  }
  /* line 48, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #credentials {
    margin: 10px;
    height: 5rem;
    padding-bottom: 4rem;
    font-family: "Montserrat_Medium";
    text-align: center;
  }
  /* line 55, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #person_logo {
    height: 50px;
    width: 50px;
  }
  /* line 59, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 63, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  body {
    background-color: rgba(255, 119, 0, 0.5);
    background-blend-mode: lighten;
    background-image: url("/public/img/slide2.jpg");
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-size: 7px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* line 74, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  .ativator {
    margin-left: 0%;
  }
  /* line 77, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    margin: 0px;
    padding: 0px;
  }
  /* line 85, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  .container {
    padding: 5px;
  }
  /* line 88, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #slide {
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 50%;
  }
  /* line 94, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #container {
    padding: 10px;
    height: 100%;
    width: 97%;
    background-color: #454545;
    color: #ffffff;
    font-family: "Montserrat_Medium";
  }
  /* line 102, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #credentials {
    width: 100%;
    padding-top: 100px;
    padding-right: 1rem;
    font-family: "Montserrat_Medium";
    font-size: 13px;
    text-align: center;
  }
  /* line 110, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #person_logo {
    height: 100px;
    width: 100px;
  }
  /* line 115, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  body {
    background-color: rgba(255, 119, 0, 0.5);
    background-blend-mode: lighten;
    background-image: url("/public/img/slide2.jpg");
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  /* line 127, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  .ativator {
    margin-left: 0%;
  }
  /* line 130, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    margin: 0px;
    padding: 0px;
  }
  /* line 138, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  .container {
    padding: 5px;
  }
  /* line 141, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #slide {
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 50%;
  }
  /* line 147, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #container {
    padding: 10px;
    height: 100%;
    width: 97%;
    background-color: #454545;
    color: #ffffff;
    font-family: "Montserrat_Medium";
  }
  /* line 155, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #credentials {
    width: 100%;
    padding-top: 100px;
    padding-right: 1rem;
    font-family: "Montserrat_Medium";
    font-size: 13px;
    text-align: center;
  }
  /* line 163, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  #person_logo {
    height: 100px;
    width: 100px;
  }
  /* line 168, ../../../Documents/Projetos_GitHub/Portfolio/public/_sass/styles.scss */
  body {
    background-color: rgba(255, 119, 0, 0.5);
    background-blend-mode: lighten;
    background-image: url("/public/img/slide2.jpg");
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-size: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */